[% object.json_ld_wrapped -%]
[% prev_next(object, 'title') %]
<h1>Book: [% object.title %]</h1>
[% display_book(object);
   IF object.has_blurb -%]
<div class="blurb">
<h2 class="section-title mt-5">Description</h2>
[%    object.blurb | html_para %]
</div>
[% END -%]
