<table class="table">
[% FOR event IN events.sort('year') -%]
  <tr>
    <th colspan="2"><a id="[% event.id %]">[% event.year %]</a></th>
  </tr>
[%   FOR entry IN event.entries -%]
  <tr[% IF entry.is_winner %] class="winner"[% END %]>
    <td><a href="/title/#[% entry.book.title %]">[% entry.book.title %]</a></td>
    <td><s href="/author/#[% entry.book.author.name %]">[% entry.book.author.name %]</a></td>
  </tr>
[%   END;
   END -%]
</table>
