[% object.json_ld_wrapped -%]
<h1>Author: [% object.name %]</h1>
<h2 class="section-title mt-5">Books</h2>
[% FOR book IN object.books_rs.sorted_books;
     display_book(book);
   END -%]
[% IF object.has_biography -%]
<div class="biography">
[%   object.biography | html_para %]
</div>
[% END -%]
