[% MACRO amazon(asin, ass_tag) BLOCK -%]
<div class="amazon">
  <a href="https://www.amazon.co.uk/dp/[% asin %]/?tag=[% ass_tag %]">
    <img class="img-thumbnail" src="https://images.amazon.com/images/P/[% asin %].jpg">
    <button type="button" class="btn btn-primary">Buy on Amazon</button>
  </a>
</div>
[% END %]
